//
//  Configuration.xcconfig
//  PerformanceTest
//
//  Created by Manish  on 11/12/24.
//

ENVIRONMENT = "e2e"

DD_APP_ID = "dd_app_id_debug"
DD_API_KEY = "dd_api_key_debug"

BUGSNAG_API_KEY = "bugsnag_api_key_debug"

EMBRACE_API_KEY = "embrace_api_key_debug"

INSTABUG_API_KEY = "instabug_api_key_debug"
